.conteudo {
    align-items: center;
}

.conteudo__subtitulo-2 {
    border-bottom: 4px solid #2e2e2e;
}

.conteudo__bloco {
    padding: 1rem 2rem;
}

#elemento-numeros-possiveis {
    flex-wrap: wrap;
}

.conteudo__bloco {
    border: 4px solid #FFFFFF;
}

.conteudo__vermelho {
    background: #e00f0f;
}

.conteudo__verde {
    background: #2aa02a;
}